 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

#game-board {
display: grid;
grid-template-columns: repeat(4, 1fr);
max-width: 80%;
margin: auto;
background-color: aliceblue;
}

 
/* Tiles */

#game-board div {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    border-radius: 30px;
    padding: 1rem;
    margin: 0.5rem;
    background-color: lightyellow;
}

#game-board div img {
    display: flex;
    box-sizing: border-box;
    width: 80%;
}