 html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #051f20;
    background-image: url("/assets/images/indexImgs/background.png");
}

.home-div {
    width: 60%;
    height: 210px;
    margin: auto;
    margin-top: 2rem;
    background: rgba(207,207,196, 0.7);
    border-radius: 10px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 2em;
}

.home-div:first-child {
    margin-top: 0;
}

/* -------------------------Intro section-------------------- */ 

.header {
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    font-family: 'Sansita Swashed', cursive;
    color: #cfcfc4;
    margin: -1px 0 0 0;
}

/* -------------------------Button section-------------------- */ 

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-group button {
    float: left;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    width: 100px;
    background-color: #cfcfc4;
    border: none;
    color: #051f20;
}

.button-group button:disabled {
    opacity: 0.4;
}

.button-group button:not(:disabled):hover {
  background-color: #027412;
  color: #cfcfc4;
}

.button-group button.highlight-button {
    background-color: #051f20;
    color: #cfcfc4;
}

#category, .buttons form {
    margin-top: 0.5em;
}

#play {
    border: none;
    background-color: #cfcfc4;
    font-size: 18px;
    padding: 9px;
}

#play i {
    font-size: 1.5em;
}

#play:hover {
  background-color: #027412;
  color: white;
}

/* -------------------------Rules section-------------------- */ 

.rules h3 {
    padding: 0 0 1em 0;
    margin: 0;
}

.rules ul {
    margin: 0;
}

/* ------------------------- Footer -------------------- */ 

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    line-height: 4em;
    font-family: 'Sansita Swashed', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #cfcfc4;
}

footer a {
    text-decoration: none;
    color: #cfcfc4;
    font-size: 20px;
}

footer a:hover {
    text-decoration: underline;
}


/* ------------------------- Media Queries -------------------- */ 

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home-div {
        height: auto;
        width: 70%;
    }

    h1 {
        font-size: 1.4em;
    }

    .rules {
        margin-bottom: 2em;
    }

    .button-group {
        display: inline-grid;
    }

    footer {
        display: none;
    }
}

