 html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #051f20;
    background-image: url("/assets/images/indexImgs/background.png");
}

.home-div {
    width: 60%;
    height: 200px;
    margin: auto;
    margin-top: 2rem;
    background: rgba(207,207,196, 0.5);
    border-radius: 10px;
}


/* -------------------------Intro section-------------------- */ 
.intro {
    margin: 0px;
}

.header {
    height: 100px;
    display: flex;
    /* align-items: center; */
    justify-content: center
}

h1 {
    font-size: 30px;
    margin: auto;
    font-family: 'Sansita Swashed', cursive;
    color: #cfcfc4;
}

.introduction {
    
}

/* -------------------------Button section-------------------- */ 

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-group button {
    float: left;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    padding: 6px;
}

.button-group button.highlight-button {
    background-color: green;
}

#play {
    font-size: 18px;
    padding: 9px;
    border-radius: 10px;
}

/* -------------------------Rules section-------------------- */ 
.rules h3 {
    padding: 15px 0 0 20px; 
}